<%- include ../layout/header -%>

                        <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">
                        Hello
                        </p>
                        <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;"> On your request we have created a password reset request for you. Please use below verification code & follow the instructions to reset your password :</p>

                        <table cellspacing="0" cellpadding="0" border="0" class="btn-primary">
                              <tbody><tr>
                                <td>Please use below 4 digits OTP to verify your email address:  <b><%= custom.verification_code %></b></td>
                              </tr>
                              <tr>
                                <td><a href="<%= custom.resetLink %>">Click Here </a>to Reset Your Password</td>
                              </tr>
                            </tbody>
                        </table>

<%- include ../layout/footer -%>