<div class="left-side-menu">
    <div class="slimscroll-menu">
        <div id="sidebar-menu">
            <ul class="metismenu" id="side-menu">

                <li>
                    <a href="/">
                        <i class="fas fa-home "></i>
                        <span> Dashboard </span>
                    </a>
                </li>
                <li>
                    <a href="/users">
                        <i class="fas fa-users"></i>
                        <span>Users</span>
                    </a>
                </li>
                <li>
                    <a href="/drivers">
                        <i class="fas fa-car"></i>
                        <span>Driver</span>
                    </a>
                </li>

                <li>
                    <a href="javascript:void(0);">
                        <i class="fe-cpu"></i>
                        <span> Category Manager </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li><a href="/categories/add">Add category</a></li>
                        <li><a href="/categories">Categories</a></li>
                        <li><a href="/categories/addSubCategory">Add sub category</a></li>
                        <li><a href="/categories/subcategories">Sub Categories</a></li>
                    </ul>
                </li>

                <li>
                    <a href="/pages">
                        <i class="fas fa-file"></i>
                        <span> Static Pages </span>
                    </a>
                </li>

                
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</div>