<% layout('layouts/notAuthorized') -%>
<div class="text-center w-75 m-auto">
    <a>
        <span><img src="http://localhost:7850/accessory.svg" alt="<%= siteTitle %>"
                style="height: 80px; width: 80px"></span>
    </a>
    <p class="text-muted mb-4 mt-3"></p>
</div>
<form id="passwordUpdateForm" method="post">

    <div class="form-group">
        <label class="label">Password<span style="color: red !important;">*</span></label>
        <input type="password" minlength="5" class="form-control" id="newPassword" placeholder="Password"
            name="newPassword" required autocomplete="off">
        <div class="text-danger newPassword"></div>
    </div>

    <div class="form-group">
        <label class="label">Confirm Password<span style="color: red !important;">*</span></label>
        <input type="password" minlength="5" class="form-control" id="rePassword" placeholder="Confirm Password"
            name="rePassword" required autocomplete="off">
        <div class="text-danger rePassword"></div>
    </div>

    <div class="form-group mb-0 text-center">
        <button type="submit" id="change-password-submit" class="btn btn-primary submit-btn btn-block"
            style="background: #3eae64;border-color: #3eae64;">Submit</button>
    </div>

</form>

<script>
    $(document).ready(function () {
        const ADMIN_RESET_PASSWORD_FORM = <%- JSON.stringify(DM('ADMIN_RESET_PASSWORD_FORM')) %>;
        $("#passwordUpdateForm").validate({
            errorPlacement: function (error, element) {
                const name = $(element).attr("name");
                error.appendTo($("." + name));
            },
            submitHandler: function (form) {
                $('#change-password-submit').attr('disabled', 'disabled');
                form.submit();
            },
            rules: {

                newPassword: {
                    required: true,
                    minlength:8,
                    maxlength:8
                },
                rePassword: {
                    required: true,
                    equalTo: "#newPassword"

                }
            },
            messages: ADMIN_RESET_PASSWORD_FORM
        });
    })
</script>